#childes {
  .chart-container {
    position: relative;
    max-width: 500px;
    margin: 0 auto 4em;
  }

  .page-header {
    text-align: center;
    margin-top: 1.5em;
    margin-bottom: 1em;
  }
}
